html,
body {
    margin: 0;
}

#overlay {
    align-items: center;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    height: 100%;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
}

.selection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10vh;
}

.fighter {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.fighter:hover {
    box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.06);
    cursor: pointer;
}

.fighter-image {
    height: 260px;
}

.name {
    font-size: 21px;
    margin-top: 20px;
    text-align: center;
}

.name:hover {
    color: rgb(255, 0, 0);
}

.name:hover::before {
    content: '✎ ';
}

.selected {
    background-color: rgb(240, 240, 240);
}

.fight-button {
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 18px;
    padding: 4px;
    position: fixed;
    text-align: center;
    text-transform: uppercase;
    top: 0;
    width: 100%;
}

.fight-button:hover {
    box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.16);
}

.fight-button:hover::after {
    content: ' (press anikey to strike)';
}

.details {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: fixed;
    top: calc(50% + 74px);
    z-index: 1000;
}

.details > :first-child {
    font-size: 3em;
}

.details > :first-child:hover {
    color: rgb(0, 0, 0);
}

.details > :first-child:hover::before {
    content: '';
}

.details > .name {
    width: 100%;
}

@media (max-width: 800px) {
    .details {
        justify-content: end;
        width: 280px;
    }
}

.fight {
    align-items: end;
    background-image: url('../../resources/background.png');
    background-position: bottom;
    background-size: cover;
    display: flex;
    height: 100vh;
    justify-content: center;
}

.fight > :hover {
    box-shadow: none;
    cursor: default;
}

.health-container {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 10px;
    width: 90%;
}

.health-bar {
    background-image: linear-gradient(to right, rgb(255, 0, 0), rgb(255, 0, 0) 100%, rgb(255, 255, 255) 100%, rgb(255, 255, 255));
    border: 2px solid rgb(255, 0, 0);
    height: 5vh;
    width: 40vw;
}

.winner {
    bottom: 10vh;
    color: rgb(255, 0, 0);
    font-size: 48px;
    position: absolute;
    z-index: 1000;
}

